body {
  background-color: mistyrose;
}
h2{color: DarkGrey; }
h3{color: navy; }
h4{color: purple; }

p.thick {
  font-weight: bold;
    background-color: snow; 
}
p.thicker {
  font-weight: 900;
background-color: whitesmoke; 
}
