body {
  background-color: mistyrose;
}
h1{text-align: center;}
h2{color: DarkGrey;
text-align: center;
}
h3{color: navy;}
h4{color: purple;}

p.thick {
  font-weight: bold;
    background-color: Silver; 
   text-align: center;
}
p.thicker {
  font-weight: 900;
background-color: whitesmoke; 
  text-align: center;
}
